In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('../datasets/data_credit.csv')
data.head()

,Gender,Age,Debt,Married,BankCustomer,Industry,Ethnicity,YearsEmployed,PriorDefault,Employed,CreditScore,DriversLicense,Citizen,ZipCode,Income,Approved
0,1,30.83,0.000,1,1,Industrials,White,1.25,1,1,1,0,ByBirth,202,0,1
1,0,58.67,4.460,1,1,Materials,Black,3.04,1,1,6,0,ByBirth,43,560,1
2,0,24.50,0.500,1,1,Materials,Black,1.50,1,0,0,0,ByBirth,280,824,1
3,1,27.83,1.540,1,1,Industrials,White,3.75,1,1,5,1,ByBirth,100,3,1
4,1,20.17,5.625,1,1,Industrials,White,1.71,1,0,0,0,ByOtherMeans,120,0,1

In [18]:
split_ratio = 0.8 # split data 80
split_index = int(split_ratio*len(data))
print(split_index)
X_train = data[:split_index].drop(columns="Approved")
X_test = data[split_index:].drop(columns="Approved")
Y_train = data["Approved"][:split_index]
Y_test = data["Approved"][split_index:]
print(Y_test)

552
552    1
553    1
554    1
555    1
556    1
      ..
685    0
686    0
687    0
688    0
689    0
Name: Approved, Length: 138, dtype: int64